body{
  background-color:#1E85E5;

}

p{
font-family: 'Recursive', sans-serif;
color: white;
font-size: 1.2em;
text-align: center;
}

a{
 text-decoration: none;
 color: white;
 font-weight: 700;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 30%;
  height: 3em;
  border: 3px solid white;
  font-family: 'Nobile', sans-serif;
  font-weight: 700;
}


.coming_soon{
  max-width: 80%;
  min-width: 60%;
  height: 100%;
  padding: 10% 20%;
}

.logo{
  width: 80%;
  padding: 5% 10%;
}

.logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

.text{
padding: 0 10%;

}

.inquiry{
  color: #161A22;
  font-size: 1em;
}

.button:hover{
  background-color: white;
  color: #1E85E5;
  transition: 200ms linear;
  transform: scale(1.02);
}

.inquiry a:hover{
  transition: 200ms linear;
  text-decoration: underline;
}
