@media screen and (max-width:799px){
    .coming_soon{
      max-width: 100%;
      min-width: 80%;
        }

    .logo{
      width: 100%;
      padding: 5% 0%;
    }

    .logo img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;

    }
    
    p{
        font-size: 1em;
    }
    
    .text{
        padding: 0 5%;
    }
    
    .button{
  margin: 10% 10%;
  height: 3em;
  border: 3px solid white;
  font-family: 'Nobile', sans-serif;
  font-weight: 700;
}
    
    .inquiry{
  font-size: .8em;
}
}


/*
@media screen and (min-width:601px) and ( max-width:800px){
	;

	}

}
*/